{% extends "app.html.twig" %}
{% block content %}
    {% if payments|length %}
    <div class="col-sm-9">
        {% if payments|length > 1%}<h2>{{ payments.total }} Payments</h2>{% endif %}
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>
                Payment Date
            </th>
            <th>
                Reference
            </th>
            <th>
                Amount
            </th>
            <th>
                Tip
            </th>
            <th>
                Restaurant
            </th>
            <th>
                Table Number
            </th>
            <th>
                Credit Card
            </th>
            <th>
                Details
            </th>
        </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
            {% set paymentDetail = payment.payment_details %}
            <tr>
                <td>{{ payment.created_at|date('Y-m-d') }}</td>
                <td>{{ payment.reference }}</td>
                <td>{{ payment.amount }} {{ payment.currency }}</td>
                <td>{{ payment.tip }} {{ payment.currency }}</td>
                <td>{{ payment.location }}</td>
                <td>{{ payment.table_number }}</td>
                <td>{{ payment.card_type }}</td>
                <td>
                    <span class="label label-primary">{% if paymentDetail|length > 1 %}
                        &nbsp;&nbsp;&nbsp;<a href="{{ path_for('payment-show', {'id': payment.id}) }}"><b>details</b></a>
                            {% else %}
                            No
                        {% endif %}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'pagination.html.twig' %}
        {% else %}
        No Payments
            {% endif %}
{% endblock %}